<mat-table [dataSource]="transfersQuery.userTransfersArray$ | async">
  <ng-container matColumnDef="index">
    <mat-header-cell *matHeaderCellDef  [ngClass]="'customWidthClass'"> № </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index;" [ngClass]="'customWidthClass'">{{i + 1}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="cardSender">
    <mat-header-cell *matHeaderCellDef> Карта плательщика </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.cardSenderView}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cardReceiver">
    <mat-header-cell *matHeaderCellDef> Карта получателя </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.cardReceiverView}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef> Сумма </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.total}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Дата выполнения </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.date | date}} {{element.date?.getHours()}}:{{element.date?.getMinutes()}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Действие </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button [routerLink]="['/card2card']" [queryParams]="{id: element.id}" matTooltip="Повторить">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Удалить" (click)="deleteItem(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
